absl-py==0.9.0
bleach==1.5.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cycler==0.10.0
docopt==0.6.2
Flask==1.1.1
Flask-Cors==3.0.8
h5py==2.10.0
html5lib==0.9999999
idna==2.9
imageai==2.1.5
itsdangerous==1.1.0
Jinja2==2.11.1
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.16.4
Pillow==7.0.0
pipreqs==0.4.10
protobuf==3.11.3
pyparsing==2.4.6
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
tensorflow==1.5.1
tensorflow-tensorboard==1.5.1
tf-utils==1.0.4
urllib3==1.25.8
Werkzeug==1.0.0
yarg==0.1.9
